@font-face {
  font-family: 'Ubuntu Light';
  src: url("../../fonts/Ubuntu/UbuntuLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: 'Ubuntu Light';
  src: url("../../fonts/Ubuntu/UbuntuLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Ubuntu Medium';
  src: url("../../fonts/Ubuntu/UbuntuMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: 'Ubuntu Medium';
  src: url("../../fonts/Ubuntu/UbuntuMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/Ubuntu/UbuntuBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/Ubuntu/UbuntuBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/Ubuntu/UbuntuItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/Ubuntu/UbuntuRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: 'UbuntuCondensed';
  src: url(../../fonts/UbuntuCondensed/UbuntuCondensed.ttf);
}
/* line 3, ../sass/_svg-sprite.scss */
.contacts_info_main_connections_subscribe_content_socials_vk, .contacts_info_main_connections_subscribe_content_socials_fb, .contacts_info_main_connections_subscribe_content_socials_twit, .contacts_info_main_connections_subscribe_content_socials_inst, .contacts_info_main_connections_subscribe_content_socials_pint {
  content: '';
  background: url("img/svg-sprite.svg") no-repeat;
  background-size: 167px 147px;
  display: inline-block;
}
/* line 8, ../sass/_svg-sprite.scss */
.no-svg .contacts_info_main_connections_subscribe_content_socials_vk, .no-svg .contacts_info_main_connections_subscribe_content_socials_fb, .no-svg .contacts_info_main_connections_subscribe_content_socials_twit, .no-svg .contacts_info_main_connections_subscribe_content_socials_inst, .no-svg .contacts_info_main_connections_subscribe_content_socials_pint {
  background-image: url("img/svg-sprite.png");
}

/* line 6, ../sass/contacts.scss */
.contacts {
  width: auto;
  margin: 0 auto 40px;
  background-color: #F8F5F5;
  padding: 32px 50px 38px 50px;
  display: flex;
  flex-direction: column;
}
/* line 17, ../sass/contacts.scss */
.contacts_info .delivery_info_overview_header {
  padding-bottom: 0;
}
/* line 21, ../sass/contacts.scss */
.contacts_info_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
/* line 27, ../sass/contacts.scss */
.contacts_info_main_connections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
/* line 33, ../sass/contacts.scss */
.contacts_info_main_connections_delivery {
  padding-top: 70px;
}
/* line 37, ../sass/contacts.scss */
.contacts_info_main_connections_subscribe_content_socials_vk {
  background-position: -59px -5px;
  width: 49px;
  height: 49px;
}
/* line 41, ../sass/contacts.scss */
.contacts_info_main_connections_subscribe_content_socials_fb {
  background-position: -5px -59px;
  width: 49px;
  height: 49px;
}
/* line 45, ../sass/contacts.scss */
.contacts_info_main_connections_subscribe_content_socials_twit {
  background-position: -59px -59px;
  width: 49px;
  height: 49px;
}
/* line 49, ../sass/contacts.scss */
.contacts_info_main_connections_subscribe_content_socials_inst {
  background-position: -113px -5px;
  width: 49px;
  height: 49px;
}
/* line 53, ../sass/contacts.scss */
.contacts_info_main_connections_subscribe_content_socials_pint {
  background-position: -5px -5px;
  width: 49px;
  height: 49px;
}
/* line 60, ../sass/contacts.scss */
.contacts_info_main_form {
  padding: 23px 30px 30px 30px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 442px;
  height: 388px;
  margin-right: 67px;
}
/* line 69, ../sass/contacts.scss */
.contacts_info_main_form_header {
  color: #231F20;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  padding-bottom: 17px;
}
/* line 78, ../sass/contacts.scss */
.contacts_info_main_form_rectangle {
  height: 1px;
  width: 442px;
  background-color: #CCC8C4;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
/* line 85, ../sass/contacts.scss */
.contacts_info_main_form .about_container_content_vacancy-form_form {
  width: 442px;
  align-items: flex-start;
  height: 330px;
  justify-content: space-between;
  padding-top: 19px;
}
/* line 91, ../sass/contacts.scss */
.contacts_info_main_form .about_container_content_vacancy-form_form_group {
  width: 443px;
}
/* line 95, ../sass/contacts.scss */
.contacts_info_main_form .about_container_content_vacancy-form_form_group:last-child {
  padding-bottom: 0;
}
/* line 101, ../sass/contacts.scss */
.contacts_info_main_form .about_container_content_vacancy-form_form_group_select {
  width: 323px;
}
/* line 106, ../sass/contacts.scss */
.contacts_info_main_form .about_container_content_vacancy-form_form_group_input {
  width: 300px;
}
/* line 111, ../sass/contacts.scss */
.contacts_info_main_form .about_container_content_vacancy-form_form_group_submit {
  background-color: #4D4239;
  color: #FFFFFF;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  font-weight: normal;
}
/* line 121, ../sass/contacts.scss */
.contacts_info_main_form .about_container_content_vacancy-form_form_group_textarea {
  width: 300px;
  height: 84px;
}
/* line 137, ../sass/contacts.scss */
.contacts_all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 142, ../sass/contacts.scss */
.contacts_all_block {
  display: flex;
  flex-direction: column;
}
/* line 146, ../sass/contacts.scss */
.contacts_all_block .footer_main_contacts_header {
  padding-bottom: 20px;
}
/* line 152, ../sass/contacts.scss */
.contacts .subscribe_content_socials {
  padding-top: 101px;
  width: 285px;
}
