/* line 3, ../sass/_svg-sprite.scss */
.wrapper .events-menu-tabs-all_calendar_icon {
  content: '';
  background: url("img/svg-sprite.svg") no-repeat;
  background-size: 200px 163px;
  display: inline-block;
}
/* line 8, ../sass/_svg-sprite.scss */
.no-svg .wrapper .events-menu-tabs-all_calendar_icon, .wrapper .no-svg .events-menu-tabs-all_calendar_icon {
  background-image: url("img/svg-sprite.png");
}

/* line 7, ../sass/events-list.scss */
.wrapper .event {
  padding: 0;
  width: 100%;
}
/* line 11, ../sass/events-list.scss */
.wrapper .event img {
  width: 1280px;
}
/* line 15, ../sass/events-list.scss */
.wrapper .events-menu-tabs-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: #FFFFFF;
}
/* line 23, ../sass/events-list.scss */
.wrapper .events-menu-tabs-all_tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 100;
}
/* line 32, ../sass/events-list.scss */
.wrapper .events-menu-tabs-all_tabs_item {
  margin-right: 44px;
  text-transform: uppercase;
  padding: 25px 0;
  cursor: pointer;
}
/* line 38, ../sass/events-list.scss */
.wrapper .events-menu-tabs-all_tabs_item:last-child {
  margin-right: 0;
}
/* line 42, ../sass/events-list.scss */
.wrapper .events-menu-tabs-all_tabs_item_dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 49, ../sass/events-list.scss */
.wrapper .events-menu-tabs-all_tabs .active {
  color: #A67B2C;
  border-bottom: 3px solid #DAC69C;
}
/* line 55, ../sass/events-list.scss */
.wrapper .events-menu-tabs-all_calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  height: 42px;
  width: 138px;
  font-family: Ubuntu, sans-serif;
  border-radius: 2px;
  background-color: #4D4239;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}
/* line 71, ../sass/events-list.scss */
.wrapper .events-menu-tabs-all_calendar_icon {
  background-position: -70px -84px;
  width: 16px;
  height: 18px;
  margin-right: 16px;
}
/* line 77, ../sass/events-list.scss */
.wrapper .events_list {
  width: 1180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #F8F5F5;
  padding: 30px 50px 30px;
}
/* line 86, ../sass/events-list.scss */
.wrapper .events_list .content_events {
  padding: 30px 0 0 33px;
}
/* line 88, ../sass/events-list.scss */
.wrapper .events_list .content_events_title {
  text-transform: uppercase;
  font-family: Ubuntu, sans-serif;
  font-size: 24px;
}
/* line 94, ../sass/events-list.scss */
.wrapper .events_list .content_events_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
/* line 100, ../sass/events-list.scss */
.wrapper .events_list .content_events_items_item {
  width: 380px;
  border: 1px solid #E6E3E1;
  background-color: #FFFFFF;
  margin: 0 0 20px;
  cursor: pointer;
}
/* line 107, ../sass/events-list.scss */
.wrapper .events_list .content_events_items_item_img img {
  width: 380px;
}
/* line 113, ../sass/events-list.scss */
.wrapper .events_list .content_events_items_item_content {
  font-family: Ubuntu, sans-serif;
  padding: 15px 20px 10px;
}
/* line 117, ../sass/events-list.scss */
.wrapper .events_list .content_events_items_item_content_name {
  color: #231F20;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 4px;
}
/* line 123, ../sass/events-list.scss */
.wrapper .events_list .content_events_items_item_content_date {
  color: #A67B2C;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  padding-bottom: 4px;
}
/* line 130, ../sass/events-list.scss */
.wrapper .events_list .content_events_items_item_content_text {
  color: #7F7873;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0;
}
/* line 137, ../sass/events-list.scss */
.wrapper .events_list .content_events_items_item_content_time {
  color: #867F7B;
  font-size: 13px;
  line-height: 13px;
  padding: 4px 7px;
  border-radius: 2px;
  background-color: #F7F6F2;
  display: inline-block;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
/* line 149, ../sass/events-list.scss */
.wrapper .events_list .content_events_items_item_content-kitchen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #7F7873;
  font-size: 13px;
  line-height: 13px;
  padding: 10px 133px 20px 20px;
  align-items: center;
}
/* line 169, ../sass/events-list.scss */
.wrapper .events_show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 348px;
  border-radius: 2px;
  background-color: #4D4239;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  color: #FFFFFF;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
}
