/* line 3, ../sass/_svg-sprite.scss */
.main .menu-tabs_all_search_result_restaurants_items_item_content-kitchen_delimiter, .main .menu-tabs_all_search_result_dishes_items_item_content-kitchen_delimiter {
  content: '';
  background: url("img/svg-sprite.svg") no-repeat;
  background-size: 200px 163px;
  display: inline-block;
}
/* line 8, ../sass/_svg-sprite.scss */
.no-svg .main .menu-tabs_all_search_result_restaurants_items_item_content-kitchen_delimiter, .main .no-svg .menu-tabs_all_search_result_restaurants_items_item_content-kitchen_delimiter, .no-svg .main .menu-tabs_all_search_result_dishes_items_item_content-kitchen_delimiter, .main .no-svg .menu-tabs_all_search_result_dishes_items_item_content-kitchen_delimiter {
  background-image: url("img/svg-sprite.png");
}

/* line 1, ../sass/_png-sprite.scss */
.main .menu-tabs_all_search_img {
  content: '';
  background: url("img/png-sprite.png") no-repeat;
  background-size: 288px 209px;
  display: inline-block;
}

/* line 7, ../sass/restaurant.scss */
.main .menu-tabs_all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
/* line 14, ../sass/restaurant.scss */
.main .menu-tabs_all_tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Ubuntu Condensed", sans-serif;
}
@media screen and (max-width: 768px) {
  /* line 14, ../sass/restaurant.scss */
  .main .menu-tabs_all_tabs {
    display: none;
  }
}
/* line 25, ../sass/restaurant.scss */
.main .menu-tabs_all_tabs_item {
  margin-right: 44px;
  text-transform: uppercase;
  padding: 25px 0;
  cursor: pointer;
}
/* line 31, ../sass/restaurant.scss */
.main .menu-tabs_all_tabs_item:last-child {
  margin-right: 0;
}
/* line 35, ../sass/restaurant.scss */
.main .menu-tabs_all_tabs_item_dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 43, ../sass/restaurant.scss */
.main .menu-tabs_all_tabs .active {
  color: #A67B2C;
  border-bottom: 3px solid #DAC69C;
}
/* line 48, ../sass/restaurant.scss */
.main .menu-tabs_all_search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-right: 30px;
  align-items: center;
}
/* line 55, ../sass/restaurant.scss */
.main .menu-tabs_all_search input {
  color: #7F7873;
  font-family: Ubuntu, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  width: 320px;
  border-radius: 2px;
  padding: 14px 5px;
  border: none;
  border-bottom: 1px solid #CCC8C4;
}
/* line 67, ../sass/restaurant.scss */
.main .menu-tabs_all_search_img {
  background-position: -0px -189px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
/* line 73, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #FFFFFF;
  z-index: 2;
  padding-bottom: 13px;
  width: 330px;
  top: 44px;
  left: 0;
}
/* line 85, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_title {
  color: #B8903E;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  padding: 20px 15px 0;
}
/* line 93, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 1200px;
}
/* line 99, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item {
  background-color: #FFFFFF;
  position: relative;
  padding: 0 15px;
  border-bottom: 1px solid #E6E3E1;
  cursor: pointer;
}
/* line 105, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item_img {
  position: relative;
}
/* line 107, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item_img .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 115, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Ubuntu, sans-serif;
  padding: 17px 0 0;
}
/* line 122, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item_content_name {
  color: #231F20;
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 2px;
}
/* line 128, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item_content_time {
  color: #867F7B;
  font-size: 10px;
  line-height: 10px;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #F7F6F2;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
/* line 137, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item_content-kitchen {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #7F7873;
  font-size: 13px;
  line-height: 13px;
  padding: 0 0 10px 0;
  align-items: center;
  font-family: Ubuntu, sans-serif;
}
/* line 148, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item_content-kitchen_item {
  padding: 0 10px;
}
/* line 151, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item_content-kitchen_item:first-child {
  padding-left: 0;
}
/* line 155, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item_content-kitchen_delimiter {
  background-position: -178px -96px;
  width: 5px;
  height: 5px;
}
/* line 160, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item-hover {
  font-family: Ubuntu, sans-serif;
}
/* line 162, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item-hover_main {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 55px 30px 55px;
  position: absolute;
  top: 0;
}
/* line 168, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item-hover_main_text {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #FFFFFF;
  width: 319px;
}
/* line 175, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item-hover_main_checkin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FFFFFF;
  margin-top: 20px;
  align-items: center;
  font-family: Ubuntu, sans-serif;
}
/* line 183, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item-hover_main_checkin_item {
  background-color: #1A1718;
  padding: 5px 10px;
  margin-right: 5px;
}
/* line 187, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item-hover_main_checkin_item span {
  color: #FFFFFF;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
}
/* line 194, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_restaurants_items_item-hover_main_checkin_item:last-child {
  margin-right: 0;
}
/* line 206, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_title {
  color: #B8903E;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  padding: 20px 15px 0;
}
/* line 214, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 220, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item {
  background-color: #FFFFFF;
  position: relative;
  padding: 0 15px;
  border-bottom: 1px solid #E6E3E1;
  cursor: pointer;
}
/* line 226, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item_img {
  position: relative;
}
/* line 228, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item_img .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 236, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Ubuntu, sans-serif;
  padding: 17px 0 0;
}
/* line 243, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item_content_name {
  color: #231F20;
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 2px;
}
/* line 249, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item_content_time {
  color: #867F7B;
  font-size: 13px;
  line-height: 13px;
  padding: 4px 7px;
  border-radius: 2px;
  background-color: #F7F6F2;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
/* line 258, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item_content-kitchen {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #7F7873;
  font-size: 13px;
  line-height: 13px;
  padding: 0 0 10px 0;
  align-items: center;
  font-family: Ubuntu, sans-serif;
}
/* line 269, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item_content-kitchen_item {
  padding-left: 10px;
}
/* line 271, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item_content-kitchen_item:first-child {
  border-right: 1px solid #7F7873;
  padding-right: 10px;
  padding-left: 0;
}
/* line 276, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item_content-kitchen_item:last-child {
  color: #231F20;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  padding-left: 140px;
}
/* line 285, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item_content-kitchen_delimiter {
  background-position: -178px -82px;
  width: 9px;
  height: 9px;
}
/* line 290, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item-hover {
  font-family: Ubuntu, sans-serif;
}
/* line 292, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item-hover_main {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 55px 30px 55px;
  position: absolute;
  top: 0;
}
/* line 298, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item-hover_main_text {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #FFFFFF;
  width: 319px;
}
/* line 305, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item-hover_main_checkin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FFFFFF;
  margin-top: 20px;
  align-items: center;
  font-family: Ubuntu, sans-serif;
}
/* line 313, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item-hover_main_checkin_item {
  background-color: #1A1718;
  padding: 5px 10px;
  margin-right: 5px;
}
/* line 317, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item-hover_main_checkin_item span {
  color: #FFFFFF;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
}
/* line 324, ../sass/restaurant.scss */
.main .menu-tabs_all_search_result_dishes_items_item-hover_main_checkin_item:last-child {
  margin-right: 0;
}

/* line 343, ../sass/restaurant.scss */
.slider_wraper {
  background-color: #E7E3E1;
}
@media screen and (max-width: 768px) {
  /* line 343, ../sass/restaurant.scss */
  .slider_wraper {
    display: none;
  }
}
/* line 350, ../sass/restaurant.scss */
.slider_wraper .slider {
  position: relative;
}
/* line 353, ../sass/restaurant.scss */
.slider_wraper .slider .owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
/* line 359, ../sass/restaurant.scss */
.slider_wraper .slider .owl-carousel .owl-nav .owl-prev {
  display: inline-block;
  float: left;
  background: none;
  width: 13px;
  height: 22px;
}
/* line 367, ../sass/restaurant.scss */
.slider_wraper .slider .owl-carousel .owl-nav .owl-next {
  display: inline-block;
  float: right;
  background: none;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  width: 13px;
  height: 22px;
  margin-right: 10px;
}
/* line 381, ../sass/restaurant.scss */
.slider_wraper .slider .item {
  width: 280px;
  height: 140px;
  position: relative;
}
/* line 385, ../sass/restaurant.scss */
.slider_wraper .slider .item_text {
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  position: absolute;
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
