@font-face {
  font-family: 'Ubuntu Light';
  src: url("../../fonts/Ubuntu/UbuntuLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: 'Ubuntu Light';
  src: url("../../fonts/Ubuntu/UbuntuLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Ubuntu Medium';
  src: url("../../fonts/Ubuntu/UbuntuMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: 'Ubuntu Medium';
  src: url("../../fonts/Ubuntu/UbuntuMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/Ubuntu/UbuntuBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/Ubuntu/UbuntuBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/Ubuntu/UbuntuItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/Ubuntu/UbuntuRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: 'UbuntuCondensed';
  src: url(../../fonts/UbuntuCondensed/UbuntuCondensed.ttf);
}
/* line 3, ../sass/restaurants-result.scss */
.restaurants_choosing {
  padding: 35px 0 0 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
/* line 8, ../sass/restaurants-result.scss */
.restaurants_choosing_item {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-bottom: 9px;
}
/* line 15, ../sass/restaurants-result.scss */
.restaurants_choosing_item:nth-child(2) {
  padding-left: 28px;
}
/* line 19, ../sass/restaurants-result.scss */
.restaurants_choosing_item_text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 23, ../sass/restaurants-result.scss */
.restaurants_choosing_item_text_name {
  padding-right: 6px;
  color: #7F7873;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
/* line 33, ../sass/restaurants-result.scss */
.restaurants_choosing_item_text_quantity {
  background-color: #D6D2D0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  color: #7F7873;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 51, ../sass/restaurants-result.scss */
.restaurants_choosing_item_rectangle {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #D6D2D0;
  box-shadow: inset 0 1px 0 0 #E6E3E1, 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  right: 0;
  bottom: 0;
}
/* line 66, ../sass/restaurants-result.scss */
.restaurants_choosing .active .restaurants_choosing_item_text_name {
  padding-right: 13px;
  color: #231F20;
  font-family: Ubuntu, sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}
/* line 76, ../sass/restaurants-result.scss */
.restaurants_choosing .active .restaurants_choosing_item_text_quantity {
  background-color: #CBBC9D;
  color: #FFFFFF;
}
/* line 83, ../sass/restaurants-result.scss */
.restaurants_choosing .active .restaurants_choosing_item_rectangle {
  height: 2px;
  background-color: #7F7873;
  padding: 0;
  right: 0;
}

/* line 93, ../sass/restaurants-result.scss */
.dish-output {
  display: flex;
  flex-direction: column;
}
/* line 97, ../sass/restaurants-result.scss */
.dish-output_result {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 22px 40px;
  width: 1200px;
}
/* line 103, ../sass/restaurants-result.scss */
.dish-output_result_overview {
  display: flex;
  flex-direction: column;
  width: 1200px;
}
/* line 108, ../sass/restaurants-result.scss */
.dish-output_result_overview_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 113, ../sass/restaurants-result.scss */
.dish-output_result_overview_header_name {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
/* line 117, ../sass/restaurants-result.scss */
.dish-output_result_overview_header_name_restaurant {
  color: #231F20;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
}
/* line 126, ../sass/restaurants-result.scss */
.dish-output_result_overview_header_name_tags .content_corners_items_item_content-kitchen {
  width: 226px;
}
/* line 129, ../sass/restaurants-result.scss */
.dish-output_result_overview_header_name_tags .content_corners_items_item_content-kitchen_item {
  font-size: 13px;
  line-height: 13px;
}
/* line 140, ../sass/restaurants-result.scss */
.dish-output_result_overview_text {
  color: #7F7873;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding-right: 156px;
}
/* line 149, ../sass/restaurants-result.scss */
.dish-output_result_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
/* line 155, ../sass/restaurants-result.scss */
.dish-output_result_items_item {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 276px;
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
/* line 164, ../sass/restaurants-result.scss */
.dish-output_result_items_item_img {
  width: 280px;
  height: 160px;
}
/* line 168, ../sass/restaurants-result.scss */
.dish-output_result_items_item_img img {
  width: 280px;
  height: 160px;
}
/* line 174, ../sass/restaurants-result.scss */
.dish-output_result_items_item_info {
  display: flex;
  width: 100%;
  height: 116px;
  flex-direction: column;
  justify-content: space-between;
}
/* line 181, ../sass/restaurants-result.scss */
.dish-output_result_items_item_info_name {
  color: #231F20;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-top: 20px;
}
/* line 190, ../sass/restaurants-result.scss */
.dish-output_result_items_item_info_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #7F7873;
  font-size: 13px;
  line-height: 13px;
  padding: 0 20px 20px;
  align-items: center;
  font-family: Ubuntu, sans-serif;
}
/* line 201, ../sass/restaurants-result.scss */
.dish-output_result_items_item_info_content_item {
  padding-left: 10px;
}
/* line 203, ../sass/restaurants-result.scss */
.dish-output_result_items_item_info_content_item:first-child {
  border-right: 1px solid #7F7873;
  padding-right: 10px;
  padding-left: 0;
}
/* line 208, ../sass/restaurants-result.scss */
.dish-output_result_items_item_info_content_item:last-child {
  color: #231F20;
  font-family: UbuntuCondensed, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
/* line 217, ../sass/restaurants-result.scss */
.dish-output_result_items_item_info_content_weight {
  display: flex;
  flex-direction: row;
}
/* line 220, ../sass/restaurants-result.scss */
.dish-output_result_items_item_info_content_weight_item {
  padding-left: 10px;
}
/* line 222, ../sass/restaurants-result.scss */
.dish-output_result_items_item_info_content_weight_item:first-child {
  border-right: 1px solid #7F7873;
  padding-right: 10px;
  padding-left: 0;
}
