@import 'variables.scss';
@import "svg-sprite";
@import "png-sprite";

.delivery_banner {
  width: 100%;
  background-image: url(../images/deliv_banner_bg.png);
  height: 459px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_header {
    color: #FFFFFF;
    font-family: $font_ubuntu;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    padding: 69px 0 50px;
  }

  &_info {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 0 auto;

    &_block {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 334px;


      &_circle {
        width: 140px;
        height: 140px;
        background-color: #34393E;
        border-radius: 100%;
        margin-bottom: 23px;
        display: flex;
        align-items: center;
        justify-content: center;

        &_time {
          @include sp__time_icon;
        }
        &_curren—Åy {
          @include sp__rub_icon;
        }
        &_card {
          @include sp__card_icon;
        }
      }

      &_text {
        color: #FFFFFF;
        font-family: $font_ubuntu;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;

      }


    }
  }

  &_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 40px;
    margin-top: 35px;
    background-color: #B68D39;

    &_text {
      color: #FFFFFF;
      font-family: $font_ubuntu;
      font-size: 16px;
      line-height: 18px;

    }

  }
}

.delivery_info {
  width: 100%;
  background-color: #F8F5F5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 50px 0 50px;

  &_breadcrumbs {
    color: #7F7873;
    font-size: 13px;
    line-height: 14px;
    font-family: $font_ubuntu;
    padding-bottom: 27px;
  }

  &_overview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &_header {
      color: #231F20;
      font-size: 30px;
      line-height: 35px;
      font-weight: 500;
      font-family: $font_ubuntu;
      padding-bottom: 27px;
    }

    &_text {
      color: #7F7873;
      font-size: 16px;
      line-height: 24px;
      font-family: $font_ubuntu;
      padding-bottom: 27px;
      display: flex;
      flex-direction: column;
      height: 203px;
      justify-content: space-between;
    }



  }

}